* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* esto es el header */

.nav {
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-links {
    width: 500px;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}   

.nav-title {
    margin-left: 80px;
    font-size: 40px;
}

.nav a {
    color: whitesmoke ;
    text-decoration: none;
}


.btn {
    height: 35px;
    width: 100px;
    background-color: rgb(14, 152, 161);
    color: whitesmoke;
    border: none;
    font-size: 14px;
}

.active {
    font-weight: bold;
}

/* esto es la tarjeta */

.contenedor {
    width: 700px;
    margin: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.tarjeta {
    width: 100%;
    background-color: whitesmoke;
    border: 4px solid lightgray;
    margin-bottom: 20px;
    font-size: 1.2rem;
    overflow: hidden;
}

.header {
    background-color: rgb(13, 137, 130);
    height: 140px;
    margin-bottom: 40px;
}

.cuerpo {
    padding: 20px;
}

.cuerpo h1, .cuerpo h2, .cuerpo h3, .cuerpo p {
    margin: 20px 0px;
}

.user {
    border-radius: 50%;
    background-color: whitesmoke;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.iconos {
    height: 20px;
}

/* esto es el div de conexxiones */

.imagenIzquierda, .imagenDerecha {
    border-radius: 50%;
    height: 50px;
    width: 50px
}

.imagenIzquierda {
    float: left;
    margin-right: 10px;
}

.imagenDerecha {
    float: right;
    background-position: right 45px bottom 20px;
}


.contenedor2 {
    width: 390px;
    height: 300px;
    margin: 70px;
    overflow: auto;
}

.solicitudes {
    background-color: whitesmoke;
    border: 4px solid lightgray;
    overflow: hidden;
}

.cabecera {
    background-color: rgb(43, 44, 44);
    height: 100px;
}

.cuerpo2 {
    padding-top: 20px;
/*     display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

.numero {
    border-radius: 50%;
    background-color: rgb(170, 166, 166);
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

.iconos {
    height: 20px;
}

.cabecera > p {
    color: white;
    font-size: 25px;
    text-align: justify;
    padding-top: 30px;
}

.usuario {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.usuario p {
    margin-right: 20px;
}

.usuario2 {
    padding: 10px;
    display: flex;
}

/* contenedor de tus conexiones */

.contenedor3 {
    width: 390px;
    height: 410px;
    overflow: auto;
    margin-top: -250px;
    margin-left: 78px;
}

.conexiones {
    background-color: whitesmoke;
    border: 4px solid lightgray;
    overflow: hidden;
}

.nombres {
    font-size: 20px;
}

/* esto será tarjeta de educacion */

.contenedor4 {
    width: 692px;
    margin: 70px;
    margin-top: -40px;
/*     display: flex;
    justify-content: space-between;
    align-items: center;
    float: left; */
}

.educacion {
    background-color: rgb(43, 44, 44);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.educacion > h3 {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

